<div class="container">
  <div class="row  mt-5">
    <div class="col-md-2">
      <button class="btn btn-dark" routerLink="/create">
        Create Medicine
      </button>
    </div>

    <div class="col-md-10">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Medicine" aria-label="Search" aria-describedby="basic-addon2"  (input)="SearchChanges(name.value)" #name>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card" style="width: 18rem; margin: 21px;" *ngFor="let item of uiLoadedMedicine">
      <div class="card-body">
        <h2>{{item.name}}</h2>
        <h4>{{item.company}}</h4>
        <h4>{{item.expiry_date}}</h4>
        <button class="btn btn-danger" [routerLink]="['/delete', item.id]">Delete</button>&nbsp;
        <button class="btn" style="background-color: goldenrod; color: white;" [routerLink]="['/update', item.id]">Edit</button>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 mt-5">
      <p *ngIf="uiLoadedMedicine.length < 1 && !errors">No medicines available!</p>
      <div class="alert alert-danger" *ngIf="errors">
        <h3>Error Occured</h3>
        <p>{{ errors }}</p>
      </div>
  </div>
</div>

